body {
    background-color: #f8f9fa;
}
/* header*/
.navbar-custom {
            background-color: #0a2540; /* bleu foncé */
}
.navbar-brand,.nav-link {
    color: #ffffff !important;
    font-weight: 500;
}
.nav-link:hover {
    color: #2ecc71 !important; /* vert */
}
.dropdown-menu {
    background-color: #ffffff;
}
.dropdown-item {
    color: #0a2540;
}
.dropdown-item:hover {
    background-color: #2ecc71;
    color: #ffffff;
}
.btn-search {
    border-color: #2ecc71;
    color: #2ecc71;
}
.btn-search:hover {
    background-color: #2ecc71;
    color: #ffffff;
}
.search-input {
    border-color: #2ecc71;
}
/* section */
.section-title {
    color: #0a2540;
    font-weight: bold;
}
.card-custom{ 
    border-top: 4px solid #2ecc71;
}
.btn-custom {
    background-color: #2ecc71;
    color: white;
    border: none;
}
.btn-custom:hover{ 
    background-color: #27ae60;
}
label{
    font-weight: 500;
}
/* footer */
.footer-custom {
        background-color: #0a2540; /* bleu foncé */
}
.footer-title {
    color: #2ecc71; /* vert */
    margin-bottom: 15px;
}
.social-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}
.social-link:hover {
    color: #2ecc71;
    text-decoration: underline;
}
.footer-line {
    border-color: rgba(255, 255, 255, 0.2);
}